<ion-view scroll="false">
	<ion-header-bar class="bar-stable pages-header">
		<label>{{curProj.name}}</label>
		<img src="img/header-arrow.svg"/>
      	<label>{{curDoc.name}}</label>
      	<h1 class="title">&nbsp;</h1>
      	<div class="buttons">
      		<div id="save-btn" ng-click="savePop()"></div>
	    	<div id="share-btn"></div>
	    </div>
	</ion-header-bar>
	<ion-content overflow-scroll="true" class="pages-content">
		<div id="left-menu">
			<div style="background-image:url(img/comment.svg)" ng-click="selectTool(1)" ng-style="toolBg[1]"></div>
			<hr></hr>
			<div style="background-image:url(img/pen.svg)" ng-click="selectTool(2)" ng-style="toolBg[2]"></div>
			<hr></hr>
			<div style="background-image:url(img/eraser.svg)" ng-click="selectTool(3)" ng-style="toolBg[3]"></div>
			<hr></hr>
			<!-- <div style="background-image:url(img/pic.svg)"></div>
			<hr></hr> -->
		</div>
		<session></session>
	</ion-content>
</ion-view>
<style>
.pages-header {
	border-bottom: 2px solid white !important;
}
.pages-header label{
	font-size: 23px;
	color: white;
	margin: 0px 5px;
}
#share-btn {
	background-image: url(img/share.svg);
	background-position: center;
	background-size: 120%;
	width: 40px;
	height: 30px;
	border-left: 2px solid white;
}
#save-btn {
	background-image: url(img/save.svg);
	background-position: center;
	width: 50px;
	height: 30px;
	border-left: 2px solid white;
}
#left-menu {
	width: 64px;
	height: 100%;
	border-right: 2px solid #4c16e1;
	float: left;
}
#left-menu div {
	width: 64px;
	height: 48px;
	background-position: center;
	background-repeat: no-repeat;
	
}
#left-menu hr {
	background: #4c16e1;
	border-bottom: 1px solid #4c16e1;
	margin: 0 5px;
}
session {
	float: left;
}
</style>